@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("bg.jpg");
    background-size:cover;
}

.blured{
    width: 450px;
    height: 515px;
    border-radius: 8px;
    position: relative;
    /* filter: blur(5px) brightness(1);
    background-image: url("bg.jpg"); */

    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.container{
    width: 450px;
    background: rgba(255, 255, 255, 0.482);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.356);
    position: absolute;
}

.container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #d4dbe5;
}

.wrapper{
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solod #aaa;
    padding: 0 2.85rem 0 1rem;
}

.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
}

.input-box span:hover{
    color: #ff5162 !important;
}

.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #e64a4a;
}

.pass-indicator#medium::before{
    width: 20%;
    background: #f1c80b;
}

.pass-indicator#strong::before{
    width: 20%;
    background: #43A047;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

.pass-length .details{
    display: flex;
    justify-content: space-between;
}

.pass-length input{
    width: 100%;
    height: 5px;
}

/* Slider */

input[type=range] {
    -webkit-appearance: none;
    background-color: #ff5162; /* set the background color */
    height: 10px; /* set the height of the range input */
    border-radius: 5px; /* set the border radius */
  }
  
  input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px; /* set the width of the slider thumb */
    height: 20px; /* set the height of the slider thumb */
    border-radius: 50%; /* set the border radius */
    background-color: #ffffff; /* set the color of the slider thumb */
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.616);
  }

/* --- */

.pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child{
    pointer-events: none;
}

.options .option:first-child input{
    opacity: 0.7;
}

.options .option input{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label{
    cursor: pointer;
    color: #4f4f4f;
    padding-left: 0.63rem;
}

.wrapper .generate-btn{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ff5162;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
    transition: all 0.2s ease;
}

.generate-btn:hover{
    background: #ff3347;
    transition: all 0.3s ease;
}
.option input::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1c80b;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
/*     border-radius: 15px;*/
}

.option input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    position: relative;
/*     border-radius: 15px;*/
}

.option input:checked::before {
    opacity: 1;
}